<h1>Bioduino Project</h1>
<%=link_to experiments_path do %>Experiments<% end %>
<%= link_to "/current" do %><h2>Most recent experiment</h2><% end %>

Contact Earl St Sauver (estsauver@gmail.com) with any questions 