<h1>Bioduino Project</h1>
<%=link_to experiments_path do %><h2> List of all Experiments</h2><% end %>
<%= link_to "/current" do %><h3>Most recent experiment</h3><% end %>

Contact Earl St Sauver (estsauver@gmail.com) with any questions 