<h1>Bioduino Project</h1>
<%=link_to experiments_path do %><h3> List of all Experiments</h3><% end %>
<%= link_to "/current" do %><h5>Most recent experiment</h5><% end %>

Contact Earl St Sauver (estsauver@gmail.com) with any questions 