<h1>Listing datapoints</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @datapoints.each do |datapoint| %>
  <tr>
    <td><%= link_to 'Show', datapoint %></td>
    <td><%= link_to 'Edit', edit_datapoint_path(datapoint) %></td>
    <td><%= link_to 'Destroy', datapoint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Datapoint', new_datapoint_path %>
